In [5]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
df=pd.read_csv("C:\\Users\\GPT-INF002\\Documents\\AIML b1\\alcohol.csv")
df

   class  alcohol  malic
0      1    14.23   1.71
1      1    13.20   1.78
2      1    13.16   2.36
3      1    14.37   1.95
4      1    13.24   2.59

In [6]:
scaling=MinMaxScaler()
scaling.fit_transform(df[['alcohol','malic']])

array([[0.88429752, 0.        ],
       [0.03305785, 0.07954545],
       [0.        , 0.73863636],
       [1.        , 0.27272727],
       [0.0661157 , 1.        ]])