In [2]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
dfr=pd.read_csv("C:\\Users\\GPT-INF002\\Documents\\AIML b1\\result.csv")
dfr

    name      reg.no  marks       result
0  vidya  163CS22010     95   distiction
1  ramya  163CS22019     85   distiction
2  kavya  163CS22020     73  first class
3   manu  163CS22015     66         pass
4  kiran  163CS22050     35         fail
5  kitti  163CS22025     75  first class
6  deepu  163CS22012     38         fail

In [3]:
dfr['result'].unique()

array(['distiction', 'first class', 'pass', 'fail'], dtype=object)

In [4]:
pd.get_dummies(dfr['result'])

   distiction  fail  first class  pass
0           1     0            0     0
1           1     0            0     0
2           0     0            1     0
3           0     0            0     1
4           0     1            0     0
5           0     0            1     0
6           0     1            0     0