In [5]:

data={
'name':['Alice','bob','charle','david','eve'],
'age':[25,32,28,45,29],
'cities':['NewYork','sanFrancisco','LosAngeles','Chicago','Miami']
}
df=pd.DataFrame(data)
print(df)

     name  age        cities
0   Alice   25       NewYork
1     bob   32  sanFrancisco
2  charle   28    LosAngeles
3   david   45       Chicago
4     eve   29         Miami