In [2]:
import pandas as pd
data={
'employeeNo':['101','102','103','104','105'],
'Ename':['rama','bhima','mahesh','lokesh','praksh'],
'qualification':['BE','Diploma','M.tech','Bsc','Msc'],
'subject':['cs','me','ec','at','ce']
}
df=pd.DataFrame(data)
print(df)

  employeeNo   Ename qualification subject
0        101    rama            BE      cs
1        102   bhima       Diploma      me
2        103  mahesh        M.tech      ec
3        104  lokesh           Bsc      at
4        105  praksh           Msc      ce