In [9]:
import pandas as pd
import numpy as np
student=pd.read_csv("C:\\Users\\GPT BANTWAL\\Desktop\\student.csv")
print(student)

   student ID student name course
0           1         rama     CS
1           2        ramya     EC
2           3        vidya     CS
3           4         vinu     EC
4           5        kiran     CS

In [10]:
marks=pd.read_csv("C:\\Users\\GPT BANTWAL\\Desktop\\marks.csv")
print(marks)

   student ID  M1  M2  M3
0           1  96  93  70
1           2  85  90  83
2           3  73  80  90
3           4  86  88  99
4           5  90  95  95

In [13]:
df_merge=pd.merge(student,marks,on='student ID')
df_merge

   student ID student name course  M1  M2  M3
0           1         rama     CS  96  93  70
1           2        ramya     EC  85  90  83
2           3        vidya     CS  73  80  90
3           4         vinu     EC  86  88  99
4           5        kiran     CS  90  95  95